*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;        
}
.hide{
    display: none;
}
.car{
    width: 50px;
    height: 70px;
    background-color: rgb(201, 9, 9);
    position: absolute;
    bottom: 120px;
    background-image: url(Images/car.jpg);
    background-size: cover;
}
.GameArea{
    width: 400px;
    height: 100vh;
    background-color: rgb(29, 26, 26);
    margin: auto;
    position: relative;
    overflow: hidden;
    border-left: 10px dashed rgb(199, 196, 196);
    border-right:10px dashed rgb(163, 162, 162);
}
.lines{
    width: 10px;
    height: 100px;
    background: white;
    position: absolute;
    margin-left: 195px;
}
.CarGame{
    background-image: url(Images/backgrass.png);
    background-size: cover;

}
.other{
    width: 50px;
    height: 70px;
    background-color: blue;
    position: absolute;
    bottom: 120px;
}
.Score{
    position: absolute;
    top: 15px;
    left: 50px;
    text-align: center;
    padding-top: 23px;
    font-size: 30px;
    line-height: 20px;
    background-color: rgba(34, 119, 8, 0.952);
    color: white;
    width: 300px;
    height: 100px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
}
.StartScreen{
    position: absolute;
    background-color: rgba(34, 119, 8, 0.952);
    color: white;
    z-index: 1;
    margin-top: 210px;
    margin-left:360px;
    text-align: center;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    font-size: 30px;
    width: 50%;
    height: 200px;
    cursor: pointer;
    border-radius: 23px;

}
button{
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
}